.ExperiencesWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	padding: 60px 0;
	color: black;
	background-color: bisque;
}

.ButtonContainer {
	display: flex;
	width: 100%;
	max-width: 1200px;
}

.ButtonContainer button {
	display: flex;
	flex: 1;
	border: 2px solid white;
}

.ExperienceContainer {
	display: flex;
	width: 100%;
	max-width: 1200px;
}

.ExperienceContainer div {
	display: flex;
	flex: 1;
	border: 2px solid white;
}