.ProjectContainer {
	display: flex;
	border-left: 0;
	border-right: 0;
  width: 100%;
	color: black;
	background-color: black;
}

.ProjectContent {
	display: flex;
}

.ProjectContent button {
	position: relative;
	display: flex;
	width: 25%;
	flex: 1;
	margin-right: 25px;
}

.ProjectContent section {
	height: 100%;
	flex: 1;
}

.ProjectContent button::before {
	content: "";
	position: absolute;
  border: 2px solid white;
	background-color: white;
	width: 50px;
	height: 100%;
	top: -2px;
	left: -25px;
	transform: skewX(-10deg);
	z-index: 5;
}

.ProjectContent button::after {
	content: "";
	position: absolute;
  	border: 2px solid white;
	background-color: white;
	width: 50px;
	height: 100%;
	top: -2px;
	right: -25px;
	transform: skewX(-10deg);
	border-right: 2px solid black;
	z-index: 5;
}

.ProjectContent:hover button img {
	transition: 0.3s ease-in-out;
}

.ProjectContent:hover button img {
	opacity: 0;
}

.ProjectContent section {
	flex: 2;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

/*
.ProjectContent section:nth-child(2) {
	border-width: 5px;
	border-style: solid;
	margin: 0 5px;
	border-image: linear-gradient(
		to bottom, 
		rgba(0, 0, 0, 100), 
		rgba(255, 255, 255, 50),
		rgba(0, 0, 0, 100)
	) 1 100%;
	
}
*/
.ProjectTechnologies {
	display: flex;
	flex-direction: column;
}

.ProjectText {
	display: flex;
	background-color: white;
	border-radius: 0 1rem 1rem 0;
}

.ProjectText div:nth-child(1) {
	background-color: black;
}

.ProjectText div {
	height: 100%;
	width: auto;
	padding: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}