.ProjectsWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1400px;
	margin: 0 auto;
	justify-self: center;
}

.ProjectContainer {
	position: relative;
	margin: 20px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	border-left: 0;
	border-right: 0;
	max-width: 800px;
	height: 100%;
	max-height: 600px;
	color: black;
	font-weight: 600;
	background-color: transparent;
	border: 5px solid silver;
	border-radius: 25px;
}

.ProjectContainer button {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 100%;
	height: 50%;
	z-index: 2;
	border: 0;
	/*
	* Created with https://www.css-gradient.com
	* Gradient link: https://www.css-gradient.com/?c1=fabf01&c2=8004a8&gt=r&gd=dbr
	*/
	background: rgba(250, 191, 1, 1.0);
	background: radial-gradient(at right bottom, rgba(250, 191, 1, 1.0), rgba(128, 4, 168, 1.0));
	border-radius: 20px;
}

.ProjectContainer button div {
	min-height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	color: black;
	font-size: 32px !important;
	font-weight: 800 !important;
	text-transform: uppercase;
}


.ProjectContainer section {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
.ProjectContent section:nth-child(2) {
	border-width: 5px;
	border-style: solid;
	margin: 0 5px;
	border-image: linear-gradient(
		to bottom, 
		rgba(0, 0, 0, 100), 
		rgba(255, 255, 255, 50),
		rgba(0, 0, 0, 100)
	) 1 100%;
	
}
*/

.ProjectDescription {
	font-size: 18px;
	width: 100%;
	position: absolute;
	z-index: 3;
}

.ProjectTechnologies {
	height: 100%;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
