.ProjectsWrapper {
	position: relative;
	display: flex;
	width: 80vw;
	justify-self: center;
}

.Projects {
	display: flex;
	height: 50vh;
	width: 50vw;
}

.Description {
	flex: 1;
	color: white;
}

.ProjectContainer {
	display: flex;
	justify-content: center;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	flex-direction: column;
	border-left: 0;
	border-right: 0;
	border: 5px solid #222831;
	border-radius: 25px;
	background-color: #000000;
}

.imageContainer {
	height: 100%;
	width: 100%;
	object-fit: cover;
}


.ProjectDescription {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #FFFFFF;
	z-index: 1;
	height: 100%;
	padding: 1rem;
	width: 100%;
	box-shadow: inset 0px 0px 50px 10px rgba(255,255,255,0.5);
	border-radius: 25px;
}

.titleContainer {
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 48px;
	z-index: 2;
	color: #76ABAE;
	left: -10px;
	bottom: -10px;
	border-radius: 10px;
}

.Arrow {
	font-size: 60px;
}

.techIcons {
	font-size: 50px;
}

.projectText {
	padding: 0 1rem 1rem;
	text-align: center;
	font-size: 18px !important;
}

.ProjectTechnologies {
	padding: 0 1rem;
	margin: 0 auto;
	width: 90%;
	min-height: 100px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

@media screen and (max-width: 767px) {
	.backgroundContainer {
		width: 90vw;
		height: 400px;
	}
	.ProjectContainer {
		color: black;
	}

	.titleContainer {
		font-size: 5.1vw;
		height: 75px;
	}
	.Arrow {
		font-size: 50vw;
	}
	.techIcons {
		font-size: 8vw;
	}
	.projectText {
		padding: 0 1rem;
		text-align: center;
		font-size: 4vw !important;
	}
	.ProjectTechnologies {
		min-height: 50px;
	}
}