.ProjectsWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1400px;
	margin: 0 auto;
	justify-self: center;
}

.ProjectContainer {
	display: flex;
	justify-content: center;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	margin: 20px 10px;
	display: flex;
	flex-direction: column;
	border-left: 0;
	border-right: 0;
	border: 5px solid #222831;
	border-radius: 25px;
}

.backgroundContainer {
	width: 600px;
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: 768px) {
	.ProjectContainer {
		width: 400px;
		height: 375px;
		color: black;
	}
}


.ProjectDescription {
	background-color: #222831; /* Fallback color */
	background-color: rgba(217,217,217, 0.6);
	display: flex;
	flex-direction: column;
	color: #222831;
	position: absolute;
	z-index: 1;
	height: 450px;
	border-radius: 25px 25px 0;
}

.titleContainer {
	padding: 0 1rem;
	height: 100px !important;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.projectText {
	padding: 0 1rem 1rem;
	text-align: center;
	font-size: 18px !important;
}

.ProjectTechnologies {
	padding: 0 1rem;
	max-width: 600px;
	height: 100px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
