.Nav {
    display: flex;
    position: fixed;
    justify-content: center;
    left: 0;
    top: 0;
    color: white;
    background-color: black;
    height: 100%;
    width: 15vw;
}

.Items {
    position: fixed;
    top: 10%;
    border: 2px solid white;
}